* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#e66465, #9198e5);
    font-weight: 600;
    overflow: hidden;
    color: black;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    color: black;
    text-decoration: none;
}

.btn {
    background-color: white;
    padding: 18px 27px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px; 
    color: black;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15); 
    transition: 0.2s ease;
}


.modal-window {
    position: fixed;
    inset: 0;
    background: rgba(187, 149, 149, 0.55);
    display: flex;
    justify-content: center; 
    align-items: center;    
    padding: 20px;  
    visibility: hidden;
    transition: 0.3s;
}

.modal-window:target {
    visibility: visible;
}

.modal-container {
    width: 90%;
    max-width: 650px;
    max-height: 85vh;   
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

ol {
    padding: 40px;
}

#open-modal:target {
    visibility: visible;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-size: 25px;
    border-bottom: 1px solid #333;
}

.close-btn {
    text-decoration: none;
    color: #333;
}

.close-btn:hover {
    background-color: #e1d8d8;
    border-radius: 5px;
    padding: 5px;
}

.modal-body {
    padding: 45px;
    overflow-y: auto; 
    font-size: 25px;     
}

.modal-footer {
    padding: 40px;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #333;
}

.decline-btn {
    background-color: transparent;
    font-weight: 700;
}

.decline-btn:hover {
    background-color: #e1d8d8;
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 18px;
}

.accept-btn {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #ea8d8d;
    font-weight: 600;
    transition: 0.15s ease;
}

.accept-btn:hover {
    background-color: #e66465;
}