* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #1e3a8a;
    display: flex;
    padding: 20px;
    color: white;
    justify-content: space-between;
}

h1 {
    text-align: left;
}

a {
    font-size: 20px;
}

.content {
    display: flex;
    height: 85vh;
}

.left {
    background-color: rgb(143, 142, 141);
    padding: 50px;
    font-size: 20px;
    width: 20%;
}

.left ul {
    list-style: none;
}

.right {
    padding: 50px;
    line-height: 1.6;
    gap: 20px;
}

p {
    font-size: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    padding: 30px;
    box-shadow: 0 4px 6px rgb(240, 237, 237);
    border-radius: 10px;
}

footer {
    background-color: #1e3a8a;
    text-align: center;
    color: white;
    padding: 10px;
}