body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 20px 40px;
    margin: 20px;
    width: 250px;
    height: 80px;
}

.btn {
    color: brown;
    border: 1px solid brown;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;
}